.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px var(--horizontal-space) 20px var(--horizontal-space);
    margin-bottom: 15px;

}

.screen-header__title{
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span{
    margin-left: 25px;
}

@keyframes rotateGear{ /* 강의에서는 rotateCog 라고 지음 (니콜라스의 아이콘 class 명은 fa-cog 라고 되있음)*/
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover{
    animation: rotateGear 1s linear infinite;
    cursor: grab;
}